*{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
form{
    display: flex;
    flex-direction: column;

    gap: 20px;
}

#txtSearch{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 6px;
    border-style: solid;
}

#btn{
    align-self: center;
    width: 100px;
    
}